# Next.js / Node
node_modules/
.next/
out/
build/
.env
.env.local
.env*.local
npm-debug.log*
.vercel

# Arduino secrets
arduino/**/config.h

# OS
.DS_Store
Thumbs.db

# TypeScript incremental build info
tsconfig.tsbuildinfo
